* {
    text-align: center;
}


.title {
    font-size: 30px;
}

.bck {
    background-color: blanchedalmond;
}

.styletxt {
    font-family: cursive;
    color: darkgreen;
}

.img {
    margin: auto;
    display: block;
    width: 50%;
    height: auto;
    border-style: solid;
    border-radius: 6px;
}

div {
    margin: 0;
    padding: 0;
}

h1,h2,span {
    color: rgb(66, 11, 11);
    background-color: rgb(96, 185, 96);
}