.wrapper {
    position: fixed;
    top: 0px;
    width: 98%;
    border: 10px;
    margin: 10px;
    padding: 30px 2px;
    background-color: rgb(75, 67, 67);
}

.nav__menu {
    display: flex;
    justify-content: space-between;
}

a {
    color: antiquewhite;
    padding: 20px;
    width: 50px;
    margin: 5px;
}

#button {
    margin-right: 80px;
    justify-self: end;
}

.nav__menu-left {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #3498db; 
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 6%;
    margin-right: 1%;
}

footer {
    position: fixed;
    width: 98%;
    bottom: 0px;
    border: 10px;
    margin: 10px;
    padding: 30px 2px;
    background-color: rgb(110, 83, 83);
}

#para1 {
    margin-top: 8%;
    margin-bottom: 8%;
}

