.container {
    width: 40%;
    height: 700px;
    background-color: gray;
    padding: 20px;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto 200px;
    grid-template-rows: 200px auto auto auto auto auto;
}

.container div {
    background-color: rgba(17, 16, 16, 0.315);
    color: white;
    font-size: 50px;
    text-align: center;
}

.textarea {
    grid-column: 1 / 5;
}

 .it19 {
    grid-column: 3 / 5;
}