header {
    background-color: rgb(114, 89, 59);
    width: 100%;
    height: 300px;
}

.nav__container-menu {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.nav__container-menu-item, a {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: bisque;
}

h1 {
    display: flex;
    justify-content: left;
    padding-left: 150px;
    padding-top: 100px;
}

.logo {
    display: flex;
    justify-content: left;
    padding-left: 8px;
}